<!DOCTYPE html
    PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Language" content="en">
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>Hiki Configurations</title>
  <link rel="stylesheet" type="text/css" href="theme/hiki_base.css">
  <link rel="stylesheet" type="text/css" href="@stylesheet">
</head>

<body>
<div class="sidebar" id="sidebar">
  <div id="menu"   class="recentsubtitles"></div>
</div>


<div class="@view_style">
<div class="adminmenu" id=tools>
  <span class="adminmenu">
    [
    <a id=create>Create</a> 
    ]
    [
    <a id=FrontPage>FrontPage</a> | 
    <a id=index>Indexes</a> | 
    <a id=search>Search</a> | 
    <a id=recent>Recent</a>
    ]
    [
    <a id=admin>Admin</a>
    ]
  </span>
</div>
<h1>Hiki Configurations</h1>

<p id=msg></p>

<form method="post" action="@cgi_name">
  <input type=hidden value=admin name=c>
  <div class="conf_day">
    <h2><span class="title">Basic preferences</span></h2>
    <div class="body">
      <h3 class="subtitle">Site names</h3>
      <p>Set your site name. This appeared as title element.</p>
      <p><input name="site_name" value="@site_name" size="40"></p>
      <h3 class="subtitle">Author</h3>
      <p>Set your name.</p>
      <p><input name="author_name" value="@author_name" size="40"></p>
      <h3 class="subtitle">E-Mail address</h3>
      <p>Set your e-mail address.</p>
      <p><input name="mail" value="@mail" size="40"></p>
      <p><input type="submit" name="saveconf" value="OK"></p>
    </div>
  </div>

  <div class="conf_day">
    <h2><span class="title">Admin options</span></h2>
    <div class="body">
      <h3 class="password">Password</h3>
      <p>Input passwords below when you want to change the password only.</p>
      <p>Current password: <input type="password" name="old_password" size="40"></p>
      <p>New password: <input type="password" name="password1" size="40"></p>
      <p>New password(confirm): <input type="password" name="password2" size="40"></p>

      <h3 class="subtitle">Send mail for changes.</h3>
      <p>If ON, notice-mail is sended to "e-mail address" of Basic preferences via SMTP server(which set in config.rb) when a page is updated. If OFF, e-mail isn't sended.</p>
      <p><select name="mail_on_update">
         <option id=mail_on_update value="true">ON</option>
         <option id=no_mail value="false">OFF</option>
         </select></p>
      <p><input type="submit" name="saveconf" value="OK"></p>
    </div>
  </div>

  <div class="conf_day">
    <h2><span class="title">Appearance</span></h2>
    <div class="body">
      <h3 class="subtitle">Theme</h3>
      <p>Select a theme.
      <p><select name="theme">
         <option id="theme"></option></select></p>
      <h3 class="subtitle">Sidebar</h3>
      <p>ON if Sidebar is shown. If you want to use a theme which doesn't support Sidebar, you need to select OFF here.</p>
      <p><select name="sidebar">
         <option id=use_sidebar value="true">ON</option>
         <option id=no_sidebar value="false">OFF</option>
         </select></p>
      <p><input type="submit" name="saveconf" value="OK"></p>
    </div>
  </div>

</form>
</div>

<div class="footer">
  <a href="http://www.namaraii.com/hiki/">Hiki</a> <span id=version>0.0.1</span>
  &copy; 2002-2003 by <a href="http://www.namaraii.com/">TAKEUCHI Hitoshi</a>.<br>
  Powered by <span id=ruby_ver></span> and <span id=amrita_ver></span>.<br>
  Modified by <span id=author_name></span>.
</div>
</body>
</html>
