<!DOCTYPE html
    PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head id="header">
</head>

<body>
<div class="hiki">
  <div class="adminmenu" id="tools"></div>
<h1>Hiki Configurations</h1>

<form method="post" action="@cgi_name">
  <input type="hidden" value="admin" name="c">
  <input type="hidden" value="@session_id" name="session_id">
  <p id="msg"></p>
  <div class="conf day">
    <h2><span class="title">Basic preferences</span></h2>
    <div class="body">
      <h3 class="subtitle">Site names</h3>
      <p>Set your site name. This appeared as title element.</p>
      <p><input name="site_name" value="@site_name" size="40"></p>
      <h3 class="subtitle">Author</h3>
      <p>Set your name.</p>
      <p><input name="author_name" value="@author_name" size="40"></p>
      <h3 class="subtitle">E-Mail address</h3>
      <p>Set your e-mail address.</p>
      <p><input name="mail" value="@mail" size="40"></p>
      <p><input type="submit" name="saveconf" value="OK"></p>
    </div>
  </div>

  <div class="conf day">
    <h2><span class="title">Admin options</span></h2>
    <div class="body">
      <h3 class="password">Password</h3>
      <p>Input passwords below when you want to change the password only.</p>
      <p>Current password: <input type="password" name="old_password" size="40"></p>
      <p>New password: <input type="password" name="password1" size="40"></p>
      <p>New password(confirm): <input type="password" name="password2" size="40"></p>

      <h3 class="subtitle">Send mail for changes.</h3>
      <p>If ON, notice-mail is sended to "e-mail address" of Basic preferences via SMTP server(which set in config.rb) when a page is updated. If OFF, e-mail isn't sended.</p>
      <p><select name="mail_on_update">
         <option id="mail_on_update" value="true">ON</option>
         <option id="no_mail" value="false">OFF</option>
         </select></p>
      <p><input type="submit" name="saveconf" value="OK"></p>
    </div>
  </div>

  <div class="conf day">
    <h2><span class="title">Appearance</span></h2>
    <div class="body">
      <h3 class="subtitle">Theme</h3>
      <p>Select a theme.
      <p><select name="theme">
         <option id="theme"></option></select></p>
      <h3 class="subtitle">Theme URL</h3>
      <p>Enter the URL of a theme.</p>
      <p><input name="theme_url" value="@theme_url" size="60"></p>
      <h3 class="subtitle">Theme directory</h3>
      <p>Enter the directory of themes.</p>
      <p><input name="theme_path" value="@theme_path" size="60"></p>
      <h3 class="subtitle">Sidebar</h3>
      <p>ON if Sidebar is shown. If you want to use a theme which doesn't support Sidebar, you need to select OFF here.</p>
      <p><select name="sidebar">
         <option id="use_sidebar" value="true">ON</option>
         <option id="no_sidebar" value="false">OFF</option>
         </select></p>
      <h3 class="subtitle">Class name of the main area (CSS)</h3>
      <p>Enter the class name of the main area (default: 'main').</p>
      <p><input name="main_class" value="@main_class" size="20"></p>
      <h3 class="subtitle">Class name of the side bar (CSS)</h3>
      <p>Enter the class name of the side bar (default: 'sidebar').</p>
      <p><input name="sidebar_class" value="@sidebar_class" size="20"></p>
      <h3 class="subtitle">Auto link</h3>
      <p>If you want to use the auto link function, select 'On' here.</p>
      <p><select name="auto_link">
         <option id="use_auto_link" value="true">ON</option>
         <option id="no_auto_link" value="false">OFF</option>
         </select></p>
      <p><input type="submit" name="saveconf" value="OK"></p>
    </div>
  </div>

</form>
</div>

<div class="footer" id="footer"></div>
</body>
</html>
