<html>
<head>
<%= @contents[:header] %>
</head>
<body>
<div><%= @contents[:tools] %></div>
<h1><%=@conf.msg_config%></h1>
<p>|<% @plugin.each_conf_key do |key|%><a href="<%=@contents[:cgi_name]%>?c=admin;conf=<%=key%>"><%=@plugin.conf_label( key )%></a>|<% end %></p>
<form method="post" action="<%= @contents[:cgi_name] %>">
<input type="hidden" value="admin" name="c">
<input type="hidden" name="conf" value="<%=@contents[:key]%>">
<input type="hidden" name="session_id" value="<%=@contents[:session_id]%>">
<h2><%=@plugin.conf_label( @contents[:key] )%></h2>
<%=@plugin.conf_proc( @contents[:key] )%>
<input type="submit" name="saveconf" value="OK">
</form>
</body>
</html>
