<!DOCTYPE html
    PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="<%= @contents[:lang] %>">
<head>
<%= @contents[:header] %>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
                           tex2jax:{
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
                           }
                         });
    </script>
    <script type="text/javascript"
            src="js/MathJax/MathJax.js?config=TeX-AMS_HTML">
    </script>
    <meta http-equiv="X-UA-Compatible" CONTENT="IE=EmulateIE7" />

<link rel="stylesheet" href="js/highlight/styles/tomorrow.css">
<script src="js/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</head>

<body>
<div class="whole-contents">
  <div class="contents">
    <%= yield %>
  </div>
  <div class="footer"><%= @contents[:footer] %></div>
</div>
</body>
</html>
