# $Id: hikiconf.rb.sample,v 1.3 2004-02-15 02:48:35 hitoshi Exp $
# Copyright (C) 2002-2003 TAKEUCHI Hitoshi <hitoshi@namaraii.com>

#============================
#  変更する必要がある項目
#============================

# データを保存するディレクトリ【必須】
#   ページの内容や更新日時などを保存するディレクトリです。
#   のディレクトリは通常、WWW経由でアクセスできない(public_html配下でない)
#   ディレクトリを指定します。
#   このディレクトリの「全ファイル」と「全ディレクトリ」は、WWWサーバの
#   権限で書き込めるパーミッションにしておく必要があります。
$data_path       = '/home/foo/data/'

# トップページの URL【オプション】
#   トップページのURLを指定します。
$index_page      = 'http://www.hoge.com/hiki/'

# メールサーバ名【オプション】
#   メールサーバ名を指定します。$mail_on_updateがtrueの場合に有効です。
$smtp_server     = 'mail.hoge.hoge'

# プラグインを使うかどうかの指定【オプション】
#   使用する場合には true、使用しない場合は false を指定します。
$use_plugin      = true

# キャッシュディレクトリ【オプション】
#    tDiaryのプラグインでキャッシュ用のディレクトリを使用する
#    （例えばamazon.rb）ものをHikiで使いたい場合、キャッシュディレクトリ
#    をここで指定します。
$cache_path      = '/home/foo/cache'

#====================================================================
#  管理画面から変更できる項目
#  必要なら書き換えてください。なお、一度管理画面で設定してしまうと、
#  こちらのファイルを編集しても反映されません。
#====================================================================
# サイト名
#   あなたのサイト名称を指定します。ページタイトルなどに表示されます。
$site_name       = 'hoge hoge'

# サイト管理者名
#   サイト管理者の名前を指定します。フッタに表示されます。
$author_name     = '名無しさん'

# メール通知の有無
#   trueにするとページの更新時、$smtp_serverのサーバにより$mail宛に
#   変更内容がメールで送信されます。
$mail_on_update  = false

# 更新通知先メールアドレス
#   更新内容を送信するメールアドレス
$mail            = 'your@mail.address.hoge'

# テーマ
#   使用するテーマ
$theme           = 'hiki'
#   テーマのURL
$theme_url       = 'theme'
#   テーマが存在するパス
$theme_path      = 'theme'

# サイドバー
#   サイドバーをサポートしていないテーマを使用する場合、
#   falseを設定します。
$use_sidebar     = true

# メインエリアのクラス名(CSS)
#   メインエリアのクラス名を設定します。
$main_class      = 'main'

# サイドバーのクラス名(CSS)
#   サイドバーのクラス名を設定します。
$sidebar_class   = 'sidebar'

# オートリンク
#   既存ページ名の自動リンク機能を使用する場合には true を指定します。
$auto_link       = false

#=========================================
#  変更可能項目
#=========================================

# スタイル【オプション】
#   デフォルト以外のスタイルを使いたい場合は、そのスタイル名を指定します。
#   現状 default と rd+ を指定することができます。
$style           = 'default'

# 更新通知元メールアドレス【オプション】
#   更新通知メールの From に指定するアドレスです。
#$mail_from      = 'from@mail.address.hoge'

$charset         = 'EUC-JP'
$lang            = 'ja'
$database_type   = 'flatfile'

$cgi_name        = 'hiki.cgi'

# プラグインのデバッグ時に true にします。
$plugin_debug    = false

$options         = {}                      # for tDiary plugin
