# Copyright (C) 2002-2003 TAKEUCHI Hitoshi <hitoshi@namaraii.com>

#============================
#  変更する必要がある項目
#============================

# データを保存するディレクトリ【必須】
#   ページの内容や更新日時などを保存するディレクトリです。
#   のディレクトリは通常、WWW経由でアクセスできない(public_html配下でない)
#   ディレクトリを指定します。
#   このディレクトリの「全ファイル」と「全ディレクトリ」は、WWWサーバの
#   権限で書き込めるパーミッションにしておく必要があります。
@data_path       = 'path to data'

# メールサーバ名【オプション】
#   メールサーバ名を指定します。@mail_on_updateがtrueの場合に有効です。
@smtp_server     = 'localhost'

# プラグインを使うかどうかの指定【オプション】
#   使用する場合には true、使用しない場合は false を指定します。
@use_plugin      = true

# 非ログイン時も Cookie によるセッション管理を行うかどうかの指定
#   荒し対策のため、デフォルトは true です。Cookie を使えない端末で、ペー
#   ジ編集や掲示板プラグインなどによる投稿をする必要がある場合は false を
#   指定します。
@use_session    = true

#====================================================================
#  管理画面から変更できる項目
#  必要なら書き換えてください。なお、一度管理画面で設定してしまうと、
#  こちらのファイルを編集しても反映されません。
#====================================================================
# サイト名
#   あなたのサイト名称を指定します。ページタイトルなどに表示されます。
@site_name       = 'hoge hoge'

# サイト管理者名
#   サイト管理者の名前を指定します。フッタに表示されます。
@author_name     = '名無しさん'

# メール通知の有無
#   trueにするとページの更新時、@smtp_serverのサーバにより@mail宛に
#   変更内容がメールで送信されます。
@mail_on_update  = false

# 更新通知先メールアドレス
#   更新内容を送信するメールアドレス
#   複数アドレスを指定できます。
@mail            = ['hoge@example.net']

# テーマ
#   使用するテーマ
@theme           = 'hiki'
#   テーマのURL
@theme_url       = 'theme'
#   テーマが存在するパス
@theme_path      = 'theme'

# サイドバー
#   サイドバーをサポートしていないテーマを使用する場合、
#   falseを設定します。
@use_sidebar     = true

# メインエリアのクラス名(CSS)
#   メインエリアのクラス名を設定します。
@main_class      = 'main'

# サイドバーのクラス名(CSS)
#   サイドバーのクラス名を設定します。
@sidebar_class   = 'sidebar'

# オートリンク
#   既存ページ名の自動リンク機能を使用する場合には true を指定します。
@auto_link       = false

# WikiName によるリンク機能を使うかどうかの指定【オプション】
#   WikiName によるリンク機能を使わない場合には false を指定します。
@use_wikiname    = true

# XML-RPC
#   XML-RPC インタフェイスを有効にするかどうかを設定します。
@xmlrpc_enabled  = true

#=========================================
#  変更可能項目
#=========================================

# URI に表れる CGI のファイル名 (デフォルトは "")【オプション】
#    DirectoryIndex を CGI ファイル名 に指定している場合は、通常この項目
#    を指定する必要はありませんが、そうでない場合や XREA.com で設置する際
#    は CGI のファイル名を指定してください。
#@cgi_name        = 'hiki.cgi'

# ベース URL【オプション】
#    Hiki が置かれる URL から CGI 名を除いたもの。例えば
#    http://example.com/hiki/hiki.cgi なら http://example.com/hiki/ を指
#    定します。
#    通常は自動で設定されますが、リバースプロキシの場合など正しく設定され
#    ない場合は指定してください。
#@base_url        = "http://example.com/hiki/"

# キャッシュディレクトリ【オプション】
#    プラグインで使われるキャッシュ用のディレクトリを指定する
#@cache_path      = "#{@data_path}/cache"

# テンプレートディレクトリ【オプション】
#    テンプレートファイルが存在するディレクトリを指定する
#@template_path   = 'template'

# スタイル【オプション】
#   デフォルト以外のスタイルを使いたい場合は、そのスタイル名を指定します。
#   現状 default と rd+ を指定することができます。
#@style           = 'default'

# 更新通知元メールアドレス【オプション】
#   更新通知メールの From に指定するアドレスです。
#@mail_from       = 'from@mail.address.hoge'

# キーワードハイライト【オプション】
#@hilight_keys    = true

# ページのキャラクタセット【オプション】
#@charset         = 'UTF-8'

# タイムアウトの秒数【オプション】
#@timeout         = 30

# プラグインのデバッグ時に true にします【オプション】
#@plugin_debug    = false

@options         = {}                    # この行は変更しないでください。

# プラグインに渡すオプションを記述します 【オプション】
#   プラグインによってはオプションを渡すことで挙動を変えることができます。
#   詳しくは各プラグインのドキュメントを参照してください。
#
# 記述例
# @options['amazon.aid'] = 'amazon-01' 
