<!DOCTYPE html
    PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="it">
<head id="header">
</head>

<body>
<div class="hiki">
  <div class="adminmenu" id="tools"></div>
<h1>Configurazione Hiki</h1>

<form method="post" action="@cgi_name">
  <input type="hidden" value="admin" name="c">
  <input type="hidden" value="@session_id" name="session_id">
  <p id="msg"></p>
  <div class="conf day">
    <h2><span class="title">Preferenze base</span></h2>
    <div class="body">
      <h3 class="subtitle">Nome del sito</h3>
      <p>Imposta il nome del sito. Questo appare come titolo dell'elemento.</p>
      <p><input name="site_name" value="@site_name" size="40"></p>
      <h3 class="subtitle">Autore</h3>
      <p>Set your name.</p>
      <p><input name="author_name" value="@author_name" size="40"></p>
      <h3 class="subtitle">Indirizzo email</h3>
      <p>Imposta il tuo indirizzo email.</p>
      <p><input name="mail" value="@mail" size="40"></p>
      <p><input type="submit" name="saveconf" value="OK"></p>
    </div>
  </div>

  <div class="conf day">
    <h2><span class="title">Opzioni amministratore</span></h2>
    <div class="body">
      <h3 class="password">Password</h3>
      <p>Inserisci le password sotto quando vuoi cambiare solamente la password.</p>
      <p>Password corrente: <input type="password" name="old_password" size="40"></p>
      <p>Password nuova: <input type="password" name="password1" size="40"></p>
      <p>Password nuova(conferma): <input type="password" name="password2" size="40"></p>

      <h3 class="subtitle">Manda email per le modifiche.</h3>
      <p>Se è ABILITATO, l'email di notifica è inviata all'"Indirizzo email" delle preferenze di base via SMTP server(che è impostato in config.rb) quando una pagina è aggiornata. Se è DISABILITATO, l'email viene inviata.</p>
      <p><select name="mail_on_update">
         <option id="mail_on_update" value="true">ABILITATO</option>
         <option id="no_mail" value="false">DISABILITATO</option>
         </select></p>
      <p><input type="submit" name="saveconf" value="Salva"></p>
    </div>
  </div>

  <div class="conf day">
    <h2><span class="title">Aspetto</span></h2>
    <div class="body">
      <h3 class="subtitle">Tema</h3>
      <p>Scegli un tema.</p>
      <p><select name="theme">
         <option id="theme"></option></select></p>
      <h3 class="subtitle">URL Tema</h3>
      <p>Imposta URL tema.</p>
      <p><input name="theme_url" value="@theme_url" size="60"></p>
      <h3 class="subtitle">Cartella tema</h3>
      <p>Imposta cartella tema.</p>
      <p><input name="theme_path" value="@theme_path" size="60"></p>
      <h3 class="subtitle">Barra laterale</h3>
      <p>ABILITATO se la barra laterale è mostrata. Se vuoi usare un tema che non supporta la barra laterale, devi selezionare DISABILITATO qui.</p>
      <p><select name="sidebar">
         <option id="use_sidebar" value="true">ABILITATO</option>
         <option id="no_sidebar" value="false">DISABILITATO</option>
         </select></p>
      <h3 class="subtitle">Nome della classe nell'area principale(CSS)</h3>
      <p>Imposta il nome della classe CSS nell'area principale.</p>
      <p><input name="main_class" value="@main_class" size="20"></p>
      <h3 class="subtitle">Nome del CSS nella barra laterale (CSS)</h3>
      <p>Imposta il nome della classe CSS nella barra laterale.</p>
      <p><input name="sidebar_class" value="@sidebar_class" size="20"></p>
      <h3 class="subtitle">Collegamento automatico</h3>
      <p>Imposta ABILITATO se vuoi usare il collegamento automatico.</p>
      <p><select name="auto_link">
         <option id="use_auto_link" value="true">ABILITATO</option>
         <option id="no_auto_link" value="false">DISABILITATO</option>
         </select></p>
      <p><input type="submit" name="saveconf" value="Salva"></p>
    </div>
  </div>

</form>
</div>

<div class="footer" id="footer"></div>
</body>
</html>
