ins.added {
	font-weight: bold;
}

del.deleted {
	text-decoration: line-through;
}

form.update textarea.keyword {
        width: 15em;
        height: 3em;
}

@media print{
  div.adminmenu{
    display: none;
  }
  div.main{
    margin-left: 0;
  }
  div.sidebar{
    display: none;
  }
}
