<!DOCTYPE html
    PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="fr">
<head id=header>
</head>

<body>

<div class="hiki">
  <div class="adminmenu" id=tools></div>
<h1>Configuration du Hiki</h1>

<form method="post" action="@cgi_name">
  <input type=hidden value=admin name=c>
  <p id=msg></p>
  <div class="conf day">
    <h2><span class="title">Préférences de base</span></h2>
    <div class="body">
      <h3 class="subtitle">Pseudonyme</h3>
      <p>Entrez votre nom d'utilisateur.  Il apparaîtra comme élément de titre.</p>
      <p><input name="site_name" value="@site_name" size="40"></p>
      <h3 class="subtitle">Auteur</h3>
      <p>Entrez votre nom complet.</p>
      <p><input name="author_name" value="@author_name" size="40"></p>
      <h3 class="subtitle">Adresse électronique</h3>
      <p>Entrez votre adresse e-mail.</p>
      <p><input name="mail" value="@mail" size="40"></p>
      <p><input type="submit" name="saveconf" value="OK"></p>
    </div>
  </div>

  <div class="conf day">
    <h2><span class="title">Options d'administration</span></h2>
    <div class="body">
      <h3 class="password">Mot de passe</h3>
      <p>Entrez le mots de passe ci-dessous seulement si vous désirez le changer.</p>
      <p>Mot de passe courant: <input type="password" name="old_password" size="40"></p>
      <p>Nouveau mot de passe: <input type="password" name="password1" size="40"></p>
      <p>Nouveau mot de passe (confirmez): <input type="password" name="password2" size="40"></p>

      <h3 class="subtitle">Notification par e-mail.</h3>
      <p>Si cette option est activée, un e-mail de notification sera envoyé à votre adresse électronique via le serveur SMTP (définit dans config.rb) lorsqu'une page est modifiée.  Aucun e-mail ne sera envoyé si cette option est désactivée.</p>
      <p><select name="mail_on_update">
         <option id=mail_on_update value="true">ON</option>
         <option id=no_mail value="false">OFF</option>
         </select></p>
      <p><input type="submit" name="saveconf" value="OK"></p>
    </div>
  </div>

  <div class="conf day">
    <h2><span class="title">Apparence</span></h2>
    <div class="body">
            <h3 class="subtitle">Thème</h3>
      <p>Selectionnez un thème.</p>
      <p><select name="theme">
         <option id="theme"></option></select></p>
      <h3 class="subtitle">Thème - URL</h3>
      <p>Entrez l'URL d'un thème.</p>
      <p><input name="theme_url" value="@theme_url" size="60"></p>
      <h3 class="subtitle">Thème - Répertoire</h3>
      <p>Entrez le répertoire du thème.</p>
      <p><input name="theme_path" value="@theme_path" size="60"></p>
      <h3 class="subtitle">Barre contextuelle</h3>
      <p>ON et la barre contextuelle sera affichée.  Si vous voulez utiliser un thème qui ne gère pas de barre contextuelle, vous devez sélectionner OFF.</p>
      <p><select name="sidebar">
         <option id=use_sidebar value="true">ON</option>
         <option id=no_sidebar value="false">OFF</option>
         </select></p>
      <h3 class="subtitle">Nom de la classe dans la section principale (CSS)</h3>
      <p>Entrez le nom CSS de la classe dans la section principale.</p>
      <p><input name="main_class" value="@main_class" size="20"></p>
      <h3 class="subtitle">Nom de la classe dans la barre contextuelle (CSS)</h3>
      <p>Entrez le nom CSS de la classe dans la barre contextuelle.</p>
      <p><input name="sidebar_class" value="@sidebar_class" size="20"></p>
      <h3 class="subtitle">Liens automatiques</h3>
      <p>Choisissez ON si vous désirez activer les liens automatiques.</p>
      <p><select name="auto_link">
         <option id=use_auto_link value="true">ON</option>
         <option id=no_auto_link value="false">OFF</option>
         </select></p>
      <p><input type="submit" name="saveconf" value="OK"></p>
    </div>
  </div>

</form>
</div>

<div class="footer" id=footer></div>
</body>
</html>
