<!DOCTYPE html
    PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head id="header">
</head>

<body>
<div class="hiki">
  <div class="adminmenu" id="tools"></div>
<h1>Hiki環境設定</h1>

<form method="post" action="@cgi_name">
  <input type="hidden" value="admin" name="c">
  <input type="hidden" value="@session_id" name="session_id">
  <p id="msg"></p>
  <div class="conf day">
    <h2><span class="title">基本設定</span></h2>
    <div class="body">
      <h3 class="subtitle">サイト名</h3>
      <p>サイト名を指定します。</p>
      <p><input name="site_name" value="@site_name" size="40"></p>
      <h3 class="subtitle">著者名</h3>
      <p>あなたの名前を指定します。</p>
      <p><input name="author_name" value="@author_name" size="40"></p>
      <h3 class="subtitle">メールアドレス</h3>
      <p>あなたのメールアドレスを指定します。</p>
      <p><input name="mail" value="@mail" size="40"></p>
      <p><input type="submit" name="saveconf" value="OK"></p>
    </div>
  </div>

  <div class="conf day">
    <h2><span class="title">管理設定</span></h2>
    <div class="body">
      <h3 class="password">パスワード</h3>
      <p>管理者用パスワードを変更したい場合のみ入力してください。</p>
      <p>現在のパスワード: <input type="password" name="old_password" size="40"></p>
      <p>新しいパスワード: <input type="password" name="password1" size="40"></p>
      <p>新しいパスワード（確認用に再入力してください）: <input type="password" name="password2" size="40"></p>

      <h3 class="subtitle">更新をメールで通知</h3>
      <p>ページの更新があった場合にメールで通知するかどうかを指定します。メールは基本設定で指定したアドレスに送信されます。あらかじめconfig.rbでSMTPサーバを設定しておいてください。</p>
      <p><select name="mail_on_update">
         <option id="mail_on_update" value="true">メールで通知</option>
         <option id="no_mail" value="false">非通知</option>
         </select></p>
      <p><input type="submit" name="saveconf" value="OK"></p>
    </div>
  </div>

  <div class="conf day">
    <h2><span class="title">表示設定</span></h2>
    <div class="body">
      <h3 class="subtitle">テーマの指定</h3>
      <p>表示に使用するテーマを選択することができます。</p>
      <p><select name="theme">
         <option id="theme"></option></select></p>
      <h3 class="subtitle">テーマURLの指定</h3>
      <p>テーマがあるURLを指定することができます。直接CSSを指定した場合、上の「テーマの指定」で選択したテーマは無視され、指定したCSSが使われます。</p>
      <p><input name="theme_url" value="@theme_url" size="60"></p>
      <h3 class="subtitle">テーマディレクトリの指定</h3>
      <p>テーマがあるディレクトリを指定することができます。（複数設置時に使用）</p>
      <p><input name="theme_path" value="@theme_path" size="60"></p>
      <h3 class="subtitle">サイドバーの利用</h3>
      <p>テーマによってはサイドバーを利用すると表示が乱れるものがあります。その場合、サイドバーの表示をオフにすることができます。</p>
      <p><select name="sidebar">
         <option id="use_sidebar" value="true">使用する</option>
         <option id="no_sidebar" value="false">使用しない</option>
         </select></p>
      <h3 class="subtitle">メインエリアのクラス名(CSS)の指定</h3>
      <p>デフォルトでは本文部分のクラス名として'main'を使用しますが、それ以外のクラス名を使用したい場合に指定します。</p>
      <p><input name="main_class" value="@main_class" size="20"></p>
      <h3 class="subtitle">サイドバーのクラス名(CSS)の指定</h3>
      <p>デフォルトではサイドバーのクラス名として'sidebar'を使用しますが、それ以外のクラス名を使用したい場合に指定します。</p>
      <p><input name="sidebar_class" value="@sidebar_class" size="20"></p>
      <h3 class="subtitle">オートリンクの利用</h3>
      <p>既存のページに自動的にリンクを設定するオートリンク機能を使用するかどうか指定します。</p>
      <p><select name="auto_link">
         <option id="use_auto_link" value="true">使用する</option>
         <option id="no_auto_link" value="false">使用しない</option>
         </select></p>
      <p><input type="submit" name="saveconf" value="OK"></p>
    </div>
  </div>

</form>
</div>

<div class="footer" id="footer"></div>
</body>
</html>
