<!DOCTYPE html
    PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head id="header">
</head>

<body>
<div class="@view_style">
  <div class="adminmenu" id="tools"></div>
  <h1 class="header" id="title"></h1>

  <div class="day">
    <div class="body">
      <div class="section">
        <ul id="list">
          <li id="listitem"></li>
        </ul>
        <div id="msg1"></div>
        <form action="@cgi_name" method="@method">
          <input id="cmd" type="hidden" value="search" name="c">
          <span id="msg2"></span><input size="30" maxlength="50" name="key" id="key">
          <input id="button" type="submit" value="¸¡º÷"> 
       </form>
      </div>
    </div>
  </div>
</div>

<div class="@sidebar_class" id="sidebar">
  <div id="menu" class="recentsubtitles"></div>
</div>

<div class="footer" id="footer"></div>
</body>
</html>
