<!DOCTYPE html
    PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head id=header>
</head>

<body>
<a name="top"> </a>
<div class="@view_style">
  <div class="adminmenu" id=tools></div>
  <div class="adminmenu" id=page_title></div>
  <h1 class="header" id=view_title></h1>
  <div id=body_enter></div>
  <div id=toc></div>
  <div id=body></div>
  <div class="day">
    <div class="comment">
      <div class="caption">
        更新日時:<span id=last_modified></span><br>
        キーワード:<span id=keyword></span><br>
        参照:<span id=references></span><br>
        <div id=page_attribute></div>
      </div>
    </div>
    <div id=body_leave></div>
  </div>
</div>

<div class=@sidebar_class id="sidebar">
  <div id="menu" class="recentsubtitles"></div>
</div>

<div class="footer" id=footer></div>
</body>
</html>
